name: Node.js CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Server Dependencies
        working-directory: ./server
        run: npm install

      - name: Install Client Dependencies
        working-directory: ./client
        run: npm install

      - name: Run Server Lint
        working-directory: ./server
        run: npm run lint || true

      - name: Build Client
        working-directory: ./client
        run: npm run build
